@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #0b0b0b;
  }
}

@layer utilities {
  @keyframes scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .animate-scroll-left {
    animation: scroll-left 25s linear infinite;
  }
}